body{

font-family:Arial;
margin:0;
background:#f4f7fb;
color:#333;

}

.header{

position:sticky;
top:0;
background:#0f766e;
color:white;
padding:15px;
z-index:1000;

}

.container{

display:flex;
justify-content:space-between;
align-items:center;
width:90%;
margin:auto;

}

nav a{

color:white;
margin:0 10px;
text-decoration:none;

}

.hero{

text-align:center;
padding:100px 20px;
background:white;

}

.hero h2{

font-size:40px;
color:#0f766e;

}

.btn{

background:#0f766e;
color:white;
padding:12px 25px;
border-radius:5px;
text-decoration:none;

}

.section{

padding:60px;
text-align:center;

}

.cards{

display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;

}

.card{

background:white;
padding:25px;
border-radius:10px;
width:250px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);

}

.stats{

display:flex;
justify-content:center;
gap:50px;
background:#e6f4f3;
padding:60px;

}

.counter{

font-size:40px;
color:#0f766e;

}

.gallery{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:15px;
padding:40px;

}

.gallery img{

width:100%;
border-radius:10px;

}

.form{

max-width:400px;
margin:auto;
display:flex;
flex-direction:column;
gap:10px;

}

.form input,
.form textarea{

padding:10px;
border:1px solid #ccc;
border-radius:5px;

}

.form button{

background:#0f766e;
color:white;
padding:10px;
border:none;

}

.fade{

opacity:0;
transform:translateY(30px);
transition:1s;

}

.fade.show{

opacity:1;
transform:translateY(0);

}

footer{

background:#111;
color:white;
text-align:center;
padding:20px;

}

@media(max-width:768px){

.cards{
flex-direction:column;
align-items:center;
}

.stats{
flex-direction:column;
}

}
